@import "reset.css";
@import "fonts.css";

html  {scroll-behavior: smooth; } 

/*** Allgemeines Dokument ***/
:root {
 /*farben*/
 --color1:#04B2D9;
 --color2:#049DD9;
 --color3:#035AA6;
 --color4:#BFE4F2;
 --accent:#F2C438;
 --surface:#FAF5E6;

 --text-1-color:#000000;
 --text-2-color:#FFFFFF ; 

  /*abstände*/
 --ga-large: 6rem;
 --ga-medium: 2rem;
 --ga-small: 0.5rem;
}

body { 
  background-color: var(--text-2-color); 
  color:var(--text-1-color);
}

/*Schriften 'Sourgummy'*/
h1, h2 {
  font-family: 'sourgummy', sans-serif; 
  font-style: normal;
  line-height: 1.2; 
}

h1 {font-size: 3rem;font-weight: 700;color:var(--color3);}
h2 {font-size: 2.25rem;font-weight: 600;color: var(--color2);}


/*Schriften 'Sora'*/
h3, h4, p {
  font-family: 'sora', sans-serif;  
  font-style: normal;
  line-height: 1.2; 
}

h3 {font-size: 2rem;font-weight: 400;}
h4 {font-size: 1.25rem;font-weight: 400; color: var(--surface);}
p {font-size: 0.75rem;font-weight: 400;color: var(--color4);}

/*** Header ***/

header {
  position: relative;
  padding: var(--ga-medium);
  padding-bottom: 0;
}

.sonnenschirm {
  position: absolute;
  top: 80px;
  right: -200px;
  width: 600px;
  pointer-events: none;
  opacity: 0.6;
  transform: scaleX(-1); 
  transform: rotate(-30deg); 

 
}

/*** Die Karte ***/
.karte {
  position: relative; /*Ankerpunkt Elemente*/ 
  display: block;
  width: 80%;
  max-width: 2000px; /* grösse karte */ 
  margin: 0 auto;
  border: 3px solid red; /* ← nur zum Testen! */
}

.map { 
  width: 100%;
  height: auto;
  display: block;
  border: 3px solid rgb(17, 126, 26); /* ← nur zum Testen! */
}

.container_fluss {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** Die Pins ***/
.pin img {
  object-fit: contain;
  height: 40px;
  width: 40px; 
}

.pin {
  position: absolute;
  background: none;
  border: none;
  transform: translate(-50%, -100%) /*** test ***/
}

/* Platzierung Pins*/
#pin_reuss  { top: 32%; left: 53%; }
#pin_aare   { top: 33%; left: 38%; }
#pin_linth  { top: 36%; left: 65%; }
#pin_rhone  { top: 69%; left: 43%; }
#pin_rhein  { top: 49%; left: 70%; }

/* pin hover */
.pin_hover {
  display: none;
}

.pin:hover .pin_normal {
  display: none;
}

.pin:hover .pin_hover {
  display: block;
}


/*** Das Popup ***/
.infobox {
  position: absolute;
  background-color: var(--color3);
  color: var(--text-2-color);
  border-radius: 1rem;
  padding: var(--ga-medium);
  bottom: 5%; 
  right: 5%;
  width: 280px;
  box-shadow: 0px 4px 10px var(--color3);
  display: none; /* Nicht sichtbar, erst bei Klick auf Pin via js-Befehl */
    

  h1 {color:var(--surface); margin: 0; margin-top: 1.5rem; }
  h2 {color: var(--surface);margin: 0; font-weight:normal;}
  h4 {color: var(--color4);margin: 0; margin-bottom: 1rem;}
}

.infobox_grid {
  display: grid;
  grid-template-columns: 1fr auto;
}

.infobox_close { 
  position: absolute;
  background: none;
  border: none;
  color: var(--accent);
  top: 15px;
  right: 20px;
}

/*** Footer ***/
footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--text-2-color);
  text-align: right;
  padding-right: var(--ga-medium);
  padding-bottom: var(--ga-small);
}

footer p {
  position: relative;
  z-index: 2;
  font-size: 0.6rem;
  color: var(--color3);
}

.footer_wasser {
  position: relative;
  width: 100%;
  height: 200px; /* Höhe des Wasserbereichs anpassen */
}

.footer_welle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: fill;
  object-position: bottom;
  z-index: 1;
}

footer dotlottie-wc {
  position: absolute;
  bottom: 40px;   /* wie tief im Wasser */
  left: 5%;       /* Position anpassen */
  z-index: 2;
  width: 120px !important;
  height: 120px !important;
}



/*** für alles bis einschliesslich 600px ***/
@media (max-width: 600px) {
  :root { 
    --ga-large: 3rem;
    --ga-medium: 1rem;
    --ga-small: 0.9rem;
  }

  /* Schriften */
  h1 { font-size: 2rem; font-weight: 700; }
  h2 { font-size: 1.5rem; font-weight: 600; }
  h3 { font-size: 1.25rem; font-weight: 400; }
  h4 { font-size: 0.9rem; font-weight: 400; }
  p { font-size: 0.6rem; font-weight: 400; color: var(--color4); }
}
 //***
.infobox {
  width: 180px; !!! 
}*/// 